# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:latest

# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

test_unit:
  script:
    - npm install
    - npm run test:unit:cov
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'

pages:
  stage: deploy
  script:
    - echo 'Deploying public folder...'
    - npm run generate
  artifacts:
    paths:
      - public
  only:
    - gh-pages
    - docs
