{
  "all": false,
  "reporter": ["html", "text"],
  "exclude": ["node_modules"],
  "include": [
    "components",
    "lib/components/Root.js",
    "lib/components/Search.js",
    "lib/db.server.js",
    "lib/db.client.js",
    "lib/module.js",
    "lib/plugin.js",
    "postinstall.js"
  ],
  "extension": [".js", ".mjs", ".vue"]
}
